.navbar{
    border: 2px rgba(0, 0, 0, 0.3) solid;
    height: 90px;
    background-color: #333333;
    margin: 40px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: white;
    border-radius: 0px 0px 25px 25px;
}

.logo-img{
    height: 70px;
    
    position: absolute;
    left: 50px;
    top: 12px;
}

.home{
    text-decoration: none;
    color:white;    

    font-size: larger;

}

.home_div{

    width: 50px;

    padding: 2px;

    margin-top: 38px;
    margin-left: 1025px;
}

.contact_us{
    text-decoration: none;
    color: white;    

    font-size: larger;

}

.contact_us_div{

    width: 100px;

    padding: 2px;

    margin-top: -28px;
    margin-left: 1180px;
}

.about_us{
    text-decoration: none;
    color: white;    

    font-size: larger;

}

.about_us_div{

    width: 80px;

    padding: 2px;

    margin-top: -26px;
    margin-left: 1360px;
}

.heading{
    margin:40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    width: 510px;
    
}

.heading_text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: 300%;
}

.search_container{
    
    width: 1177px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px;

    display: inline-block;
}


.city,
.inn_date,
.out_date,
.person{
    width: 271px;
    height: 25px;

    text-align: center;
    justify-content: center;

    display: inline-block;

    margin: -2px;
    padding-bottom: 10px;
}

.city_content{
    width: 100%;
    height: 50px;

    text-align: center;

    border-radius: 25px 0px 0px 25px; 
    border: 1px black solid;
}

.person,
.out_date,
.inn_date{

    position: relative;
    bottom: 12px;

    height: 36px;

    background-color: white;
}

.inn_date,
.out_date,
.person{
    border: 1px black solid;
}

.search-btn{
    width: 90px;
    height: 48px;

    display: inline-block;

    margin-left: -2px;

    border: 1px black solid;
    border-radius: 0px 25px 25px 0px;
}

.check_inn{
    text-align: center;

    position: relative;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);

    width: 200px;
}

.check-in{
  /* text-align: center; */
  position: relative;
  top: 13px;

}

.check-in-label{
  position: relative;
  top: 13px;
}

.person_number,
.person_label{
    position: relative;
    top: 12px;
}

.person_number{
    width: 85px;
}