.navbar{
    border: 2px rgba(12, 170, 220,0.3) solid;
    height: 44px;
    background-color: #1481BA;

    margin: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.home{
    
}