.navbar{
    border: 2px rgba(12, 170, 220,0.3) solid;
    height: 90px;
    background-color: #333333;
    margin: 40px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo-img{
    height: 70px;
    
    position: absolute;
    left: 50px;
    top: 12px;
}

.home{
    text-decoration: none;
    color:white;    

    position: fixed;
    top: 38px;
    left: 1025px;

    font-size: larger;

}

.contact_us{
    text-decoration: none;
    color: white;    

    position: fixed;
    top: 38px;
    left: 1180px;

    font-size: larger;

}

.about_us{
    text-decoration: none;
    color: white;    

    position: fixed;
    top: 38px;
    left: 1360px;

    font-size: larger;

}